*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.container{
    max-width: 70em;
    margin: 0 auto;
}

.apply-box{
    max-width: 30em;
    margin: 0 auto;
    margin-top: 3em;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.form-container{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 1em;
}

.form{
    display: flex;
    flex-direction: column;
}

.web{
    font-size: large;
}

label{
    font-size: small;
}

input:focus{
    outline-color: olive;
}

input,textarea,select{
    padding: 6px 10px;
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 5px;
}

.button_container{
    display: flex;
    justify-content: end;
    margin-top: 1em;
    
}

button{
    background-color: rgb(50, 180, 231);
    border-radius: 10px;
    padding: 0.5em;
    color: white;
    transition: 0.3s ease-in;
}

button:hover{
    background-color: grey;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.texta{
     grid-column: 1/span 2;
}

.texta textarea{
    width: 100%;
}

@media (max-width:480px){
    .texta{
       grid-column: 1/span 1;
    }
}